*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:aliceblue;
}
/*
.home_container{
    padding:5px 5px;
}
.home_title{
    background-color:rgb(255, 255, 255));
}*/
.logo2{
    width: 70px;
    height: 80px;
    margin-left: 25%;
    margin-top: 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: -20%;
}
nav ul {
    text-align: center;
    margin-right: 30%; 
}
nav ul li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 25px;
}
a{
    text-decoration: none;
    margin-left: 5px;
    color: gray;
}

.btn{
    background-color: green;
    border: none;
    padding: 15px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
    margin: 20px 20px;
    margin-right: 90px;
    
}
.btn:hover{
    background-color: crimson;
    color: black;
}
.back_img{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50vh;
    margin-left: 10px;
    margin-right: 10%;
}
.imss{
    margin-top: -15%;
    margin-left: 62%;
    font-size: 23px;
}
.imsg{
    margin-top:10px;
    margin-left: 62%;
    font-size: 17px;
}
.box {
    width: 90%;
    height: 60vh;
    border: 1px solid ;
    border-radius: 12px;
    margin-top: 10%;
    margin-left: 70px;
    margin-right: 10%;
    
  }
.about_data{
    margin-left: 17%;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 45px;
}
.about_content{
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
}

.about_detail ul li{
    margin-top: 28px;
    margin-left: 60px;
    display: inline-block;
    font-size: 20px;
}
.about_source{
    margin-left: -5%;
}

.about_source .sa{
    margin-left: 8%;
}
.about_source .sat{
    margin-left: 25px;
    margin-top: -10px;
}
.about_source .sath{
    margin-left: 60px;
}
.about_source .sathy{
    margin-left: 40px;
}
.img_1{
    height:10vh;
    margin-left: 50px;
}
.about_final{
    margin-top: 50px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 25px;
}
.box1{
    width: 90%;
    height: 40vh;
    border: 1px solid ;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: 70px;
    margin-right: 10%;

}
.details{
    display: block;
    justify-content: space-around;
}
.detail_img{
    height: 25vh;
    margin-left: 40px;
    margin-top: 50px;
}
.details h6{
    margin-top: -15%;
    font-size: 20px;
    margin-left: 16%;
    margin-right: 20px;
    
}
.details p{
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 16%;
    font-size: 20px;
}
.v1{
    border-left: 3px dashed gray;
    height: 230px;
    position: absolute;
    left: 55%;
    margin-left: -3px;
    top: 147%;
}

.details ul li{
    margin-left: 60%;
    display: flex;
   
}
.shopping{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    float: left ;
   
}